﻿@using Entity.Model;
@{
    /**/

    var dateFormat1 = ViewBag.DateType;
    int sno = 1;
    string currentMonth = DateTime.Now.Month.ToString();
    int currentYear = ViewBag.CurrentYear;

    var color = ViewBag.Color;
    var LateInColor = color.LateInColor;
    var EarlyOutColor = color.EarlyOutColor;
    var WeekendColor = color.WeekendColor;
    var AbsentColor = color.AbsentColor;
    var HolidayColor = color.HolidayColor;
    var ShiftNotAsignColor = color.ShiftNotAsignColor;
    var DidNotLogoutColor = color.DidNotLogoutColor;
    var LeaveColor = color.LeaveColor;
    var PresentColor = color.PresentColor;
    var AbsentByLE = color.AbsentByLE;

}
<style>
    #tbl_AttendanceYearlyList {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #tbl_AttendanceYearlyList td, #tbl_AttendanceYearlyList th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        /*#customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }*/

        #tbl_AttendanceYearlyList tr:hover {
            background-color: #ddd;
        }

        #tbl_AttendanceYearlyList th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }

    .myButton {
        background-color: #458bc7;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 14px;
        font-weight: bold;
        padding: 5px 21px;
        text-decoration: none;
    }

        .myButton:hover {
            background-color: #0f57c2;
        }

        .myButton:active {
            position: relative;
            top: 1px;
        }
</style>
<div class="box indexes">
    <div class="alert alert-warning alert-dismissible col-md-3" style="background-color:@PresentColor !important; width: 2%;float: left;height: 20px; margin: 1px;">
    </div>
    <div class="alert alert-warning alert-dismissible col-md-3" style="width: 10%;float: left;height: 30px; margin: 1px; padding-top: 1px;">
        <b>P </b>:<span style="font-size:10px">Present</span>
    </div>

    <div class="alert alert-warning alert-dismissible col-md-4" style="background-color:@LateInColor !important ;width: 2%;float: left;height: 20px; margin: 1px;">
    </div>
    <div class="alert alert-warning alert-dismissible col-md-4" style="width: 10%;float: left;height: 30px; margin: 1px; padding-top: 1px;">
        <b>LI </b>: <span style="font-size:10px"> Late In</span>
    </div>
    <div class="alert alert-warning alert-dismissible col-md-3" style="background-color:@EarlyOutColor !important; width: 2%;float: left;height: 20px; margin: 1px;">
    </div>
    <div class="alert alert-warning alert-dismissible col-md-3" style="width: 10%;float: left; height: 30px; margin: 1px; padding-top: 1px;">
        <b>EO : </b> <span style="font-size:10px">Early Out</span>
    </div>
    <div class="alert alert-warning alert-dismissible col-md-3" style="background-color:@LeaveColor !important ; width: 2%;float: left;height: 20px; margin: 1px;">
    </div>
    <div class="alert alert-warning alert-dismissible col-md-3" style="width: 10%;float: left;height: 30px; margin: 1px; padding-top: 1px;">
        <b>L : </b> <span style="font-size:10px">Leave</span>
    </div>
    <div class="alert alert-warning alert-dismissible col-md-3" style="background-color:@AbsentByLE !important ; width: 2%;float: left;height: 20px; margin: 1px;">
    </div>
    <div class="alert alert-warning alert-dismissible col-md-3" style="width: 16%;float: left;height: 30px; margin: 1px; padding-top: 1px;">
        <b>ALE : </b> <span style="font-size:10px">Absent By Latein/EarlyOut</span>
    </div>

</div>
<div class="box">
    <input type="button" class="myButton" value="PDF" style="margin-left: 10px;" id="btnExport" />
    <input type="button" class="myButton" value="EXCEL" id="ExcelImport" />
</div>
<table class="table  table-bordered" id="tbl_AttendanceYearlyList" style="overflow-x: auto;">
    <thead>
        <tr style="display:none">
            <td colspan="3">P: Present</td>
            <td colspan="3">A: Absent</td>
            <td colspan="6">LI: Late In</td>
            <td colspan="6">EO: Early Out</td>
            <td colspan="6">ALE: Absent By Latein/EarlyOut</td>

            <td colspan="3">L: Leave</td>
            <td colspan="54"></td>

        </tr>
        <!--Table header text-->
        <tr>
            <th data-localize="SN" rowspan="2">S No</th>
            <th data-localize="Name" rowspan="2">Name</th>
            <th data-localize="Designation" rowspan="2">Designation</th>
            <th data-localize="Department" rowspan="2">Department</th>
            <th data-localize="Year" rowspan="2">Year</th>
            @if (dateFormat1 == "English")
            {
                <th colspan="6">January</th>
                <th colspan="6">February</th>
                <th colspan="6">March</th>
                <th colspan="6">April</th>
                <th colspan="6">May</th>
                <th colspan="6">June</th>
                <th colspan="6">July</th>
                <th colspan="6">August</th>
                <th colspan="6">September</th>
                <th colspan="6">October</th>
                <th colspan="6">November</th>
                <th colspan="6">December</th>
            }
            else
            {
                <th data-localize="Baisakh" colspan="6">Baisakh</th>
                <th data-localize="Jestha" colspan="6">Jestha</th>
                <th data-localize="Asar" colspan="6">Asar</th>
                <th data-localize="Shrawan" colspan="6">Shrawan</th>
                <th data-localize="Bhadra" colspan="6">Bhadra</th>
                <th data-localize="Ashoj" colspan="6">Ashoj</th>
                <th data-localize="Kartik" colspan="6">Kartik</th>
                <th data-localize="Mansir" colspan="6">Mansir</th>
                <th data-localize="Poush" colspan="6">Poush</th>
                <th data-localize="Magh" colspan="6">Magh</th>
                <th data-localize="Faslgun" colspan="6">Faslgun</th>
                <th data-localize="Chaitra" colspan="6">Chaitra</th>
            }
            <th data-localize="TotalPresent" rowspan="2">Total Present</th>
            <th data-localize="WorkingDays" rowspan="2">Working Days</th>

        </tr>
        <tr>
            @for (int i = 0; i < 12; i++)
            {
                <th style="background-color:@PresentColor;color: white" title="Present">P</th>
                <th style="background-color:@AbsentColor;color: white" title="Absent">A</th>
                <th style="background-color:@LateInColor;color: white" title="Late In">LI</th>
                <th style="background-color:@EarlyOutColor;color: white" title="Early Out">EO</th>
                <th style="background-color:@AbsentByLE;color: white" title="Absent By Latein/EarlyOut">ALE</th>
                <th style="background-color:@LeaveColor;color: white" title="Leave">L</th>
            }
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            if (Convert.ToInt32(item.Year) <= currentYear)
            {



                <tr>
                    <td>@sno</td>
                    <td>
                        @item.Emp_Name
                    </td>
                    @if (string.IsNullOrEmpty(item.DesignationName))
                    {
                        <td>-</td> }
                    else
                    {
                        <td>@item.DesignationName</td>}
                    @if (string.IsNullOrEmpty(item.DepartmentName))
                    {
                        <td>-</td> }
                    else
                    {
                        <td>@item.DepartmentName</td>
                    }
                    <td>@item.Year</td>

                    <td style="background-color:@PresentColor;color: white" title="Present">@item.st1</td>
                    <td style="background-color:@AbsentColor;color: white" title="Absent">@item.A1</td>
                    <td style="background-color:@LateInColor;color: white" title="Late In">@item.LN1</td>
                    <td style="background-color:@EarlyOutColor;color: white" title="Early Out">@item.EO1</td>
                    <td style="background-color:@AbsentByLE;color: white" title="Absent By Latein/EarlyOut">@item.LEA1</td>
                    <td style="background-color:@LeaveColor;color: white" title="Leave">@item.L1</td>

                    <td style="background-color:@PresentColor;color: white" title="Present">@item.nd2</td>
                    <td style="background-color:@AbsentColor;color: white" title="Absent">@item.A2</td>
                    <td style="background-color:@LateInColor;color: white" title="Late In">@item.LN2</td>
                    <td style="background-color:@EarlyOutColor;color: white" title="Early Out">@item.EO2</td>
                    <td style="background-color:@AbsentByLE;color: white" title="Absent By Latein/EarlyOut">@item.LEA2</td>
                    <td style="background-color:@LeaveColor;color: white" title="Leave">@item.L2</td>

                    <td style="background-color:@PresentColor;color: white" title="Present">@item.rd3</td>
                    <td style="background-color:@AbsentColor;color: white" title="Absent">@item.A3</td>
                    <td style="background-color:@LateInColor;color: white" title="Late In">@item.LN3</td>
                    <td style="background-color:@EarlyOutColor;color: white" title="Early Out">@item.EO3</td>
                    <td style="background-color:@AbsentByLE;color: white" title="Absent By Latein/EarlyOut">@item.LEA3</td>
                    <td style="background-color:@LeaveColor;color: white" title="Leave">@item.L3</td>

                    <td style="background-color:@PresentColor;color: white" title="Present">@item.th4</td>
                    <td style="background-color:@AbsentColor;color: white" title="Absent">@item.A4</td>
                    <td style="background-color:@LateInColor;color: white" title="Late In">@item.LN4</td>
                    <td style="background-color:@EarlyOutColor;color: white" title="Early Out">@item.EO4</td>
                    <td style="background-color:@EarlyOutColor;color: white" title="Absent By Latein/EarlyOut">@item.LEA4</td>
                    <td style="background-color:@LeaveColor;color: white" title="Leave">@item.L4</td>

                    <td style="background-color:@PresentColor;color: white" title="Present">@item.th5</td>
                    <td style="background-color:@AbsentColor;color: white" title="Absent">@item.A5</td>
                    <td style="background-color:@LateInColor;color: white" title="Late In">@item.LN5</td>
                    <td style="background-color:@EarlyOutColor;color: white" title="Early Out">@item.EO5</td>
                    <td style="background-color:@AbsentByLE;color: white" title="Absent By Latein/EarlyOut">@item.LEA5</td>
                    <td style="background-color:@LeaveColor;color: white" title="Leave">@item.L5</td>

                    <td style="background-color:@PresentColor;color: white" title="Present">@item.th6</td>
                    <td style="background-color:@AbsentColor;color: white" title="Absent">@item.A6</td>
                    <td style="background-color:@LateInColor;color: white" title="Late In">@item.LN6</td>
                    <td style="background-color:@EarlyOutColor;color: white" title="Early Out">@item.EO6</td>
                    <td style="background-color:@AbsentByLE;color: white" title="Absent By Latein/EarlyOut">@item.LEA6</td>
                    <td style="background-color:@LeaveColor;color: white" title="Leave">@item.L6</td>

                    <td style="background-color:@PresentColor;color: white" title="Present">@item.th7</td>
                    <td style="background-color:@AbsentColor;color: white" title="Absent">@item.A7</td>
                    <td style="background-color:@LateInColor;color: white" title="Late In">@item.LN7</td>
                    <td style="background-color:@EarlyOutColor;color: white" title="Early Out">@item.EO7</td>
                    <td style="background-color:@AbsentByLE;color: white" title="Absent By Latein/EarlyOut">@item.LEA7</td>
                    <td style="background-color:@LeaveColor;color: white" title="Leave">@item.L7</td>

                    <td style="background-color:@PresentColor;color: white" title="Present">@item.th8</td>
                    <td style="background-color:@AbsentColor;color: white" title="Absent">@item.A8</td>
                    <td style="background-color:@LateInColor;color: white" title="Late In">@item.LN8</td>
                    <td style="background-color:@EarlyOutColor;color: white" title="Early Out">@item.EO8</td>
                    <td style="background-color:@AbsentByLE;color: white" title="Absent By Latein/EarlyOut">@item.LEA8</td>
                    <td style="background-color:@LeaveColor;color: white" title="Leave">@item.L8</td>

                    <td style="background-color:@PresentColor;color: white" title="Present">@item.th9</td>
                    <td style="background-color:@AbsentColor;color: white" title="Absent">@item.A9</td>
                    <td style="background-color:@LateInColor;color: white" title="Late In">@item.LN9</td>
                    <td style="background-color:@EarlyOutColor;color: white" title="Early Out">@item.EO9</td>
                    <td style="background-color:@AbsentByLE;color: white" title="Absent By Latein/EarlyOut">@item.LEA9</td>
                    <td style="background-color:@LeaveColor;color: white" title="Leave">@item.L9</td>

                    <td style="background-color:@PresentColor;color: white" title="Present">@item.th10</td>
                    <td style="background-color:@AbsentColor;color: white" title="Absent">@item.A10</td>
                    <td style="background-color:@LateInColor;color: white" title="Late In">@item.LN10</td>
                    <td style="background-color:@EarlyOutColor;color: white" title="Early Out">@item.EO10</td>
                    <td style="background-color:@AbsentByLE;color: white" title="Absent By Latein/EarlyOut">@item.LEA10</td>
                    <td style="background-color:@LeaveColor;color: white" title="Leave">@item.L10</td>

                    <td style="background-color:@PresentColor;color: white" title="Present">@item.th11</td>
                    <td style="background-color:@AbsentColor;color: white" title="Absent">@item.A11</td>
                    <td style="background-color:@LateInColor;color: white" title="Late In">@item.LN11</td>
                    <td style="background-color:@EarlyOutColor;color: white" title="Early Out">@item.EO11</td>
                    <td style="background-color:@AbsentByLE;color: white" title="Absent By Latein/EarlyOut">@item.LEA11</td>
                    <td style="background-color:@LeaveColor;color: white" title="Leave">@item.L11</td>

                    <td style="background-color:@PresentColor;color: white" title="Present">@item.th12</td>
                    <td style="background-color:@AbsentColor;color: white" title="Absent">@item.A12</td>
                    <td style="background-color:@LateInColor;color: white" title="Late In">@item.LN12</td>
                    <td style="background-color:@EarlyOutColor;color: white" title="Early Out">@item.EO12</td>
                    <td style="background-color:@AbsentByLE;color: white" title="Absent By Latein/EarlyOut">@item.LEA12</td>
                    <td style="background-color:@LeaveColor;color: white" title="Leave">@item.L12</td>


                    <td>@item.Total</td>
                    <td>@item.WorkingDays</td>

                </tr>

                sno++;
            }
        }
    </tbody>
</table>
<script src="~/Content/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="~/Content/table2excel.js"></script>

<script>
    debugger;
    @*var leaveList = @Html.Raw(Json.Encode(@ViewBag.LeaveCodeList));
        $(leaveList).each(function (i, x) {
            $(".indexes").append("<div class='alert alert-warning alert-dismissible col-md-3' style='background-color: @LeaveColor !important ; width: 10%;float: left;height: 30px; margin: 1px;'><b>" + x.Code + "</b>. : " + x.LeaveName + ". </div>");
    })*@

    $("body").on("click", "#btnExport", function () {
        html2canvas($('#tbl_AttendanceYearlyList')[0], {
            onrendered: function (canvas) {
                var data = canvas.toDataURL();
                var docDefinition = {
                    content: [{
                        image: data,
                        width: 500
                    }]
                };
                pdfMake.createPdf(docDefinition).download("Yearly Attendance Report.pdf");
            }
        });
    });

    $(function () {
        $('#ExcelImport').click(function () {
            $('<table>')
                .append($($("#tbl_AttendanceYearlyList").DataTable().table().header()).clone())
                .append($("#tbl_AttendanceYearlyList").DataTable().$('tr').clone()).table2excel({
                    exclude: ".noExl",
                    name: "Excel Document Name",
                    filename: "DailyReport" + new Date().toISOString().replace(/[\-\:\.]/g, ""),
                    fileext: ".xlsx",
                    exclude_img: true,
                    exclude_links: true,
                    exclude_inputs: true
                });
            $('#tbl_AttendanceYearlyList').DataTable().destroy();
        });

    });
</script>

